<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Update tag</title>
</head>

<body>
    <form th:method="PATCH" th:action="@{/tags/{id}(id = ${tag.getId()})}" th:object="${tag}">
        <label for="name">Enter tag name: </label>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
        <input type="text" th:field="*{name}" id="name"/>
        <br>
        <input type="submit" value="Update"/>
    </form>
</body>
</html>