<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Show tag</title>
    <style>
        table, th, td {
          border:1px solid black;
          border-collapse: collapse;
        }
    </style>
</head>

<body>
    <table style="width:20%" >
        <tr>
            <th style="width:5%"th:text="${tag.getId()}"/>
            <th style="width:20%">
                <a th:href="@{/tags/{id}(id = ${tag.getId()})}" th:text="${tag.getName()}">tag</a>
            </th>
        </tr>
    </table>
    <hr>
    <form th:method="GET" th:action="@{/tags/{id}/edit(id=${tag.getId()})}">
        <input type="submit" value="Edit"/>
    </form>
<!--    <form th:method="DELETE" th:action="@{/tags/{id}(id=${tag.getId()})}">-->
<!--        <input type="submit" value="!Delete!"/>-->
<!--    </form>-->
</body>
</html>